# Base16 {{scheme-name}} - amfora color config
# {{scheme-author}}

[theme]
bg = "#{{base00-hex}}"
fg = "#{{base05-hex}}"

bottombar_label = "#{{base0E-hex}}"
bottombar_text = "#{{base05-hex}}"
bottombar_bg = "#{{base01-hex}}"

tab_num = "#{{base02-hex}}"
tab_divider = "#{{base04-hex}}"

amfora_link = "#{{base0B-hex}}"
foreign_link = "#{{base03-hex}}"
link_number = "#{{base03-hex}}"

btn_bg = "#{{base01-hex}}"
btn_text = "#{{base05-hex}}"

input_modal_bg = "#{{base01-hex}}"
input_modal_text = "#{{base05-hex}}"
input_modal_field_bg = "#{{base00-hex}}"
input_modal_field_text = "#{{base05-hex}}"
info_modal_bg = "#{{base01-hex}}"
info_modal_text = "#{{base05-hex}}"
error_modal_bg = "#{{base01-hex}}"
error_modal_text = "#{{base0F-hex}}"
yesno_modal_bg = "#{{base01-hex}}"
yesno_modal_text = "#{{base05-hex}}"
tofu_modal_bg = "#{{base01-hex}}"
tofu_modal_text = "#{{base05-hex}}"
subscription_modal_bg = "#{{base01-hex}}"
subscription_modal_text = "#{{base05-hex}}"

hdg_1 = "#{{base09-hex}}"
hdg_2 = "#{{base0A-hex}}"
hdg_3 = "#{{base0D-hex}}"
regular_text = "#{{base05-hex}}"
preformatted_text = "#{{base0C-hex}}"
list_text = "#{{base05-hex}}"
