<frescobaldi-theme name="#{{scheme-name}}">
  <!--
  Created by base16-frescobaldi
  Author: #{{scheme-author}}
-->
  <font fontFamily="monospace" fontSize="10.0" />
  <baseColors>
    <text color="#{{base05-hex}}" />
    <background color="#{{base00-hex}}" />
    <selectiontext color="#{{base06-hex}}" />
    <selectionbackground color="#{{base03-hex}}" />
    <current color="#{{base01-hex}}" />
    <mark color="#{{base02-hex}}" />
    <error color="#{{base01-hex}}" />
    <search color="#" />
    <match color="#{{base04-hex}}" />
    <paper color="#{{base01-hex}}" />
    <musichighlight color="#{{base03-hex}}" />
  </baseColors>
  <defaultStyles>
    <string textColor="#{{base08-hex}}" />
    <escape textColor="#{{base09-hex}}" />
    <comment italic="True" textColor="#{{base03-hex}}" />
    <value textColor="#{{base0A-hex}}" />
    <variable textColor="#{{base0B-hex}}" />
    <keyword bold="True" />
    <function bold="True" textColor="#{{base0D-hex}}" />
    <error textColor="#{{base0E-hex}}" underline="True" underlineColor="#{{base0E-hex}}" />
  </defaultStyles>
  <allStyles>
    <lilypond>
      <duration textColor="#{{base09-hex}}" />
      <dynamic bold="True" textColor="#{{base0D-hex}}" />
      <articulation bold="True" textColor="#{{base09-hex}}" />
      <fingering textColor="#{{base0B-hex}}" />
      <stringnumber textColor="#{{base09-hex}}" />
      <slur bold="True" />
      <markup bold="False" textColor="#{{base0A-hex}}" />
      <lyricmode textColor="#{{base0D-hex}}" />
      <lyrictext textColor="#{{base05-hex}}" />
      <context bold="True" />
      <grob textColor="#{{base05-hex}}" />
    </lilypond>
  </allStyles>
</frescobaldi-theme>
