## Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
# You can use these variables anywhere in the mako configuration file.

background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base0D-hex}}

[urgency=low]
background-color=#{{base00-hex}}
text-color=#{{base0A-hex}}
border-color=#{{base0D-hex}}

[urgency=high]
background-color=#{{base00-hex}}
text-color=#{{base08-hex}}
border-color=#{{base0D-hex}}
