{
  HighlightColor = "#{{base02-hex}}";
  HighlightTextColor = "#{{base05-hex}}";
  ClipTitleColor = "#{{base05-hex}}";
  CClipTitleColor = "#{{base03-hex}}";
  FTitleColor = "#{{base05-hex}}";
  PTitleColor = "#{{base05-hex}}";
  UTitleColor = "#{{base05-hex}}";
  FTitleBack = (solid, "#{{base01-hex}}");
  PTitleBack = (solid, "#{{base00-hex}}");
  UTitleBack = (solid, "#{{base00-hex}}");
  ResizebarBack = (solid, "#{{base00-hex}}");
  MenuTitleColor = "#{{base05-hex}}";
  MenuTextColor = "#{{base05-hex}}";
  MenuDisabledColor = "#{{base03-hex}}";
  MenuTitleBack = (solid, "#{{base01-hex}}");
  MenuTextBack = (solid, "#{{base00-hex}}");
  IconBack = (solid, "#{{base01-hex}}");
  IconTitleColor = "#{{base05-hex}}";
  IconTitleBack = "#{{base01-hex}}";
  FrameBorderColor = "#{{base00-hex}}";
  FrameFocusedBorderColor = "#{{base00-hex}}";
  FrameSelectedBorderColor = "#{{base02-hex}}";
}
