name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: npm ci --ignore-scripts
      - name: Jest
        run: npm run test
      - name: Eslint
        run: npm run lint:ci
